@tailwind base;
@tailwind components;
@tailwind utilities;
.is-invalid{
    border: 1px solid red;
}
.is-input-start:focus{
    border: 1px solid #21b9f6;
}
.is-bg-gray-500{
    border: 1px solid #21b9f6;
    cursor: pointer;
}
.is-bg-gray-500:focus{
    border: 1px solid #21b9f6;
    color: aqua;
    cursor: pointer;
}
.input-bg-gray-500{
    border: 1px solid #21b9f6;
}
.input-bg-gray-500:focus{
    border: 1px solid #21b9f6;
}


.is-bg-green-500{
    border: 1px solid #606160;
    cursor: pointer;
}
.is-cancel-500{
    cursor: pointer;
}
.is-cancel-500:hover{
    cursor: pointer;
    color: rgb(0, 255, 76);
}


.is-bg-grey-500{
    border: 1px solid #606160;
    border-radius: 5px;
}

.is-bg-green-500:focus{
    border: 1px solid #21f681;
    color: rgb(0, 255, 76);
    cursor: pointer;
}

.is-bg-green-page-500{
    cursor: pointer;
}
.is-bg-green-page-500:hover{
    color: rgb(0, 255, 76);
    cursor: pointer;
}
.is-bg-green-page-500:focus{
    color: rgb(0, 255, 76);
    cursor: pointer;
}

.shadow-product-is{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.shadow-x-full{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.overflow{
    overflow: auto;
}
/* Not found*/
#error-page{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
#error-page .content{
    max-width: 600px;
    text-align: center;
}
.content h2.header{
    font-size: 18vw;
    line-height: 1em;
    position: relative;
}
.content h2.header:after{
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #f12a2a, #fa5341, #f82626, #69a6ce, #9b59b6);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
    animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
    0%{
      background-position: 0 0;
    }
    25%{
      background-position: 100% 0;
    }
    50%{
      background-position: 100% 100%;
    }
    75%{
      background-position: 0% 100%;
    }
    100%{
      background-position: 0% 0%;
    }
}
.content h4{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    font-size: 2em;
    max-width: 600px;
    position: relative;
}
.content h4:after{
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content p{
    font-size: 1.2em;
    color: #0d0d0d;
}
.content .btns{
    margin: 25px 0;
    display: inline-flex;
}
.content .btns a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #69a6ce;
    color: #69a6ce;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.content .btns a:hover{
    background: #69a6ce;
    color: #fff;
}

.ck-editor__editable{
    height: 300px;
    width: 630px;
}
.is-curser{
    cursor: pointer;
}
.description-page{
    padding-bottom: -5px;
    font-size: 1rem;
    line-height: 2;
    color: #4F4F4F;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
  }

.pagination .item{
    padding: 8px 15px;
    margin: 0 6px;
    cursor: pointer;
    border:1px solid #21b9f6;
}

.pagination .active{
    background:  #5bcdfa;
    color: #fff;
}

 /* .gallery-display-area{
    overflow: hidden;
    height: 300px;
}
.gallery-wrap{
    width: 500%;
    animation: slideShow 16s infinite;
}

.image{
    float: left;
    width: 1500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideShow {
   20%{
       margin-left: -12%;
    }
    30%{
       margin-left: -100%;
    }
    40%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
     }
     60%{
         margin-left: -200%;
     }
     70%{
        margin-left: -300%;
     }
     80%{
         margin-left: -300%;
     }
     90%{
        margin-left: -400%;
     }
     100%{
         margin-left: -400%;
     }
}  */
